{% load static %}


<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Aurum Arts{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{% static 'auctions/styles.css' %}" rel="stylesheet">
    </head>
    <body>
        <div id="logo-head">
            <img id="logo" src="{% static 'assets/aurum-arts-logo.png' %}" alt="Aurum Arts Logo" />
        </div>
        <p class="slogan">Bid on beauty, own a legacy.</p> 
         
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link 
                {% if request.resolver_match.url_name == 'index' or request.resolver_match.url_name == 'displayCategory' %}
                    active
                {% endif %}" 
                href="{% url 'index' %}">Available Works</a>
            </li>

            {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link {% if request.resolver_match.url_name == 'create' %}active{% endif %}" 
                    href="{% url 'create' %}">Create Listing</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.resolver_match.url_name == 'watchlist' %}active{% endif %}" 
                    href="{% url 'watchlist' %}">Watchlist</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.resolver_match.url_name == 'logout' %}active{% endif %}" 
                    href="{% url 'logout' %}">Log Out</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link {% if request.resolver_match.url_name == 'login' %}active{% endif %}" 
                    href="{% url 'login' %}">Log In</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.resolver_match.url_name == 'register' %}active{% endif %}" 
                    href="{% url 'register' %}">Register</a>
                </li>
            {% endif %}
        </ul>

        <hr>
         
        {% block body %}
        {% endblock %}
        <div id="footer">
            <p>&copy; 2025 Aurum Arts | Built by Tidjani.<br/> All rights reserved.</p>
        </div>
    </body>
</html>
