{% extends "auctions/layout.html" %}

{% block body %}

    <div class="login-container">
        <h2 class="login-title">Login</h2>

        {% if message %}
            <div class="login-message">{{ message }}</div>
        {% endif %}

        <form action="{% url 'login' %}" method="post" class="login-form">
            {% csrf_token %}
            <div class="form-group">
                <input autofocus class="form-control login-input" type="text" name="username" placeholder="Username">
            </div>
            <div class="form-group">
                <input class="form-control login-input" type="password" name="password" placeholder="Password">
            </div>
            <input class="btn login-btn" type="submit" value="Login">
        </form>

        <p class="login-register">
            Don't have an account? <a href="{% url 'register' %}">Register here.</a>
        </p>
    </div>

{% endblock %}