{% extends "auctions/layout.html" %}

{% block body %}

    <div class="register-container">
        <h2 class="register-title">Register</h2>

        {% if message %}
            <div class="register-message">{{ message }}</div>
        {% endif %}

        <form action="{% url 'register' %}" method="post" class="register-form">
            {% csrf_token %}
            <div class="form-group">
                <input class="form-control register-input" autofocus type="text" name="username" placeholder="Username">
            </div>
            <div class="form-group">
                <input class="form-control register-input" type="email" name="email" placeholder="Email Address">
            </div>
            <div class="form-group">
                <input class="form-control register-input" type="password" name="password" placeholder="Password">
            </div>
            <div class="form-group">
                <input class="form-control register-input" type="password" name="confirmation" placeholder="Confirm Password">
            </div>
            <input class="btn register-btn" type="submit" value="Register">
        </form>

        <p class="register-login">
            Already have an account? <a href="{% url 'login' %}">Log In here.</a>
        </p>
    </div>

{% endblock %}
