{% extends "auctions/layout.html" %}
{% load humanize %}

{% block body %}
    <h2 class="text-center" style="margin-bottom: 20px;">Your Watchlist</h2>

    <div class="cards-container">
        {% for listing in listings %}
            {% if listing.isActive %}
            <div class="card mx-1" style="width: 18rem;">
                <img src="{{ listing.imageURL }}" class="card-img-top" alt="{{ listing.title }}">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">{{ listing.title }}</h5>
                    <p class="card-text">{{ listing.description }}</p>

                    <div class="mt-auto">
                        <p class="card-text mb-2" style="font-size: 1.2em;">
                            <strong>${{ listing.price.bid|floatformat:0|intcomma }}</strong>
                        </p>
                        <div class="details-btn-container text-center">
                            <a href="{% url 'listing' id=listing.id %}" class="details-btn" style="margin-top: 10px;">Details</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
        {% empty %}
            <p class="text-center" style="margin-top: 20px;">Your watchlist is empty.</p>
        {% endfor %}
    </div>
{% endblock %}
